.fr-list {
  display: flex;
    justify-content: center;
    gap: 5px;
    background-color: #fff;
    width: 100%;
  
    margin: 0 auto;
  
    margin-top: 20px;
  
    border-radius: 20px;
   
    padding: 10px;
  }
  
  .fr-item {
    background-color: #fff;
    width: 100px;
  
    padding: 20px 0;
    margin: 10px;
    
    border: solid;
    border-radius: 10px;
  
  }
  
  .name {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;

  }
  .fr-info{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;

  }
  
