.table {
    min-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    border-collapse: collapse;
    border-spacing: 10px 20px;
    table-layout: fixed;
    text-align: center;
    margin-top: 20px;
  }
  
  .thead {
    background-color: black;
    color: #fff;
align-items: center;
height: 50px;

  }
  tr:not(:first-child):nth-child(odd) {
    background-color: white;
    
  }

  tr:nth-child(even) {
    background-color: rgba(69, 69, 69, 0.3)
  }
  td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  
  .tdString {
    padding: 15px 20px;
  }